* {
    outline: 0 !important;
}
body {
    font-family: "Poppins", sans-serif;
    background-color: #fff;
}

.container {
    max-width: 1150px;
    padding: 0 15px;
    margin: 0 auto;
}

.section {
    padding-top: 120px;
    padding-bottom: 120px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

ul,
ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    display: block;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.btn {
    font-weight: 600;
    font-size: 16px;
    color: #fff;
    border: inherit;
    border-radius: 4px;
    min-width: 105px;
    height: 42px;
    background: #02897a;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* HEADER */

.header {
    margin-bottom: 25px;
}
.header-nav {
    display: flex;
    align-items: center;
    padding: 22px 0;
}
.nav-logo {
    font-weight: 700;
    font-size: 40px;
    line-height: 1.5;
    color: #22343d;
    display: flex;
    gap: 6px;
    margin-right: 237px;
}
.header-nav-list {
    display: flex;
    gap: 30px;
    margin-left: auto;
}
.header-nav-item {
}
.header-nav-link {
    font-size: 16px;
    line-height: 1.75;
    color: #22343d;
}

.header-nav-link:hover,
.header-nav-link:focus {
    color: #02897a;
}

.header-login {
    display: flex;
    gap: 21px;
    margin-left: 76px;
}
.header-login-item {
}
.btn.header-signin-btn {
    border: 1px solid #bcd0e5;
    color: #173a56;
    background-color: #fff;
}

.btn.header-signin-btn:hover,
.btn.header-signin-btn:focus {
    color: #02897a;
    border: 1px solid #02897a;
}

.btn.header-signup-btn {
    min-width: 113px;
}

.btn.header-signup-btn:hover,
.btn.header-signup-btn:focus {
    color: #02897a;
    background-color: #fff;
    border: 1px solid #02897a;
}

.text-focus {
    font-weight: 600;
    font-size: 16px;
    color: #22343d;
}

/* HERO */

.clients {
}
.container-clients-box {
    display: block;
    max-width: 850px;
    padding-top: 100px;
    padding-bottom: 117px;
    margin: 0 auto;
}
.clients-title {
    font-weight: 700;
    font-size: 40px;
    color: #22343d;
    text-align: center;
    margin-bottom: 50px;
}
.clients-list {
    display: flex;
    gap: 64px;
    padding-top: 16px;
    padding-bottom: 16px;
    align-items: center;
}
.clients-list-item {
}
.clients-list-img {
}

/* PRODUCT */

.product {
    background-color: #f5f5f5;
    margin-bottom: 32px;
}
.product-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 1.375;
    letter-spacing: 0em;
    text-align: center;
    color: #22343d;
    margin-bottom: 50px;
    padding-top: 24px;
}
.product-list {
    display: flex;
    gap: 30px;
    margin-bottom: 50px;
}
.product-list-item {
    width: calc((100% - 30px * 2) / 3);
    border: 1px solid #dedede;
    border-radius: 10px;
    padding: 40px 50px;
    text-align: center;
}

.product-list-img {
    margin-bottom: 32x;
}
.product-list-subtitle {
    font-weight: 600;
    font-size: 22px;
    color: #22343d;
    margin-bottom: 16px;
}
.product-list-text {
    font-size: 16px;
    line-height: 1.625;
    color: #22343d;
}

.product-btn-box {
    padding-bottom: 50px;
}

.btn.product-btn {
    margin: 0 auto;
    min-width: 175px;
    padding-top: 15px;
    padding-bottom: 15px;
    height: auto;
    border: 1px solid;
    border-color: inherit;
}

.btn.product-btn:hover,
.btn.product-btn:focus {
    color: #02897a;
    background-color: #fff;
    border: 1px solid #02897a;
}
/* PROMO */

.promo {
}

.promo-container {
    background-color: #02897a;
    border-radius: 32px;
    width: 968px;
    height: 345px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
}

.promo-title-block {
}
.promo-title {
    font-weight: 600;
    font-size: 32px;
    line-height: 1.514;
    color: #fff;
    margin: 49px 10px 46px 51px;
    max-width: 510px;
}

.btn.promo-btn {
    min-width: 150px;
    height: 50px;
    margin-left: 51px;
    border-radius: 8px;
    background: #fff;
    font-weight: 600;
    font-size: 20px;
    color: #02897a;
}

.btn.promo-btn:hover,
.btn.promo-btn:focus {
    color: #fff;
    background-color: #02897a;
    border: 1px solid #fff;
}

.promo-image {
    max-width: 351px;
}

/* RECEIVED */

.received {
    min-width: 1400px;
    background: linear-gradient(
        180deg,
        #f5f5f5 0%,
        rgba(245, 245, 245, 0) 100%
    );
}

.received-title {
    font-weight: 700;
    font-size: 32px;
    text-align: center;
    color: #22343d;
    padding-top: 35px;
    margin-bottom: 83px;
}

.received-box {
}
.received-list {
    display: flex;
}
.received-list-item {
}
/* .img-box-left {
    width: 150px;
    height: 150px;
    border-radius: 100px;
    padding: 30px 20px;
    background-color: #ffefef;
} */

/* .img-box-right {
    border-radius: 100px;
    padding: 30px 20px;
    width: 150px;
    height: 150px;
    background-color: #f2f6ff;
} */


.received-img {
}
.received-list-subtitle {
}
.received-list-text {
}
.accent {
}

/* FOOTER */

.footer {
}
.footer-list {
    display: flex;
    margin-bottom: 10px;
}
.social-list-item {
    display: flex;
    margin-right: 153px;
}

.social-list-logo {
    font-weight: 700;
    font-size: 30px;
    line-height: 0.93333;
    color: #173a56;
    display: flex;
    align-items: center;
    gap: 16px;
}
.social-list-image {
}

.footer-social-list {
}

.footer-social-item {
}

.footer-list-link {
}

.resource-list-item {
    margin-right: 153px;
}

.footer-list-item {
    margin-right: 79px;
    margin-bottom: 16px;
}
.footer-list-text {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.5;
    color: #22343d;
    margin-bottom: 8px;
}
.footer-list-link {
    font-size: 16px;
    line-height: 2.1875;
    color: #22343d;
}

.contact-list-item {
    display: flex;
    flex-direction: column;
}

.footer-info-text {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.5;
    color: #22343d;
    max-width: 280px;
    margin-bottom: 30px;
}

.footer-input {
    font-size: 16px;
    line-height: 1.75;
    color: #02897a;
    margin-bottom: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.footer-input::placeholder {
    color: #02897a;
}

.btn.footer-list-btn {
    font-weight: 700;
    max-width: 131px;
    height: 39px;
    border: 1px solid;
    border-color: inherit;
}

.btn.footer-list-btn:hover,
.btn.footer-list-btn:focus {
    color: #02897a;
    background-color: #fff;
    border: 1px solid #02897a;
}

.footer-copyright {
    font-size: 16px;
    line-height: 1.875;
    color: #22343d;
    text-align: center;
}

.footer-container {
    padding-bottom: 40px;
}
