* {
    outline: 0 !important;
}
body {
    font-family: "Poppins", sans-serif;
    background-color: #fff;
}

.container {
    max-width: 1150px;
    padding: 0 15px;
    margin: 0 auto;
}

.section {
    padding-top: 120px;
    padding-bottom: 120px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

ul,
ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    display: block;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.btn {
    font-weight: 600;
    font-size: 16px;
    color: #fff;
    border: inherit;
    border-radius: 4px;
    min-width: 105px;
    height: 42px;
    background: #02897a;
    cursor: pointer;
}

/* HEADER */

.header {
    margin-bottom: 25px;
}
.header-nav {
    display: flex;
    align-items: center;
    padding: 22px 0;
}
.nav-logo {
    font-weight: 700;
    font-size: 40px;
    line-height: 1.5;
    color: #22343d;
    display: flex;
    gap: 6px;
    margin-right: 237px;
}
.header-nav-list {
    display: flex;
    gap: 30px;
    margin-left: auto;
}
.header-nav-item {
}
.header-nav-link {
    font-size: 16px;
    line-height: 1.75;
    color: #22343d;
}

.header-nav-link:hover,
.header-nav-link:focus {
    color: #02897a;
}

.header-login {
    display: flex;
    gap: 21px;
    margin-left: 76px;
}
.header-login-item {
}
.btn.header-signin-btn {
    border: 1px solid #bcd0e5;
    color: #173a56;
    background-color: #fff;
}

.btn.header-signin-btn:hover,
.btn.header-signin-btn:focus {
    color: #02897a;
    border: 1px solid #02897a;
}

.btn.header-signup-btn {
    min-width: 113px;
}

.btn.header-signup-btn:hover,
.btn.header-signup-btn:focus {
    color: #02897a;
    background-color: #fff;
    border: 1px solid #02897a;
}

.text-focus {
    font-weight: 600;
    font-size: 16px;
    color: #22343d;
}

/* HERO */

.hero {
    margin-bottom: 100px;
}
.hero-container {
    display: flex;
}
.hero-container-box {
    max-width: 465px;
    padding-top: 112px;
    margin-right: 35px;
    padding-bottom: 112px;
}
.hero-title {
    font-weight: 700;
    font-size: 40px;
    line-height: 1.5;
    color: #22343d;
    max-width: 400px;
    margin-bottom: 18px;
}
.hero-text {
    font-size: 18px;
    line-height: 1.55556;
    color: #22343d;
    margin-bottom: 45px;
}
.hero-list {
    display: flex;
    align-items: center;
    gap: 32px;
    max-width: 372px;
}
.hero-list-item {
}

.hero-list-movie {
    font-weight: 600;
    font-size: 16px;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #02897a;
    cursor: pointer;
    min-width: 164px;
    background-color: #fff;
    border: none;
}

.hero-list-movie:hover,
.hero-list-movie:focus {
    color: #fff;
    background-color: #02897a;
}

.btn.hero-btn {
    font-size: 16px;
    color: #fff;
    min-width: 178px;
    height: auto;
    padding-top: 15px;
    padding-bottom: 15px;
    border: 1px solid;
    border-color: inherit;
}

.btn.hero-btn:hover,
.btn.hero-btn:focus {
    color: #02897a;
    background-color: #fff;
    border: 1px solid #02897a;
}

.hero-img {
    max-width: 610px;
}

/* PRODUCT */

.product {
    margin-bottom: 47px;
}
.product-title {
    font-weight: 700;
    font-size: 32px;
    text-align: center;
    color: #22343d;
    margin-bottom: 50px;
}
.product-list {
    display: flex;
    gap: 30px;
    margin-bottom: 50px;
}
.product-list-item {
    width: calc((100% - 30px * 3) / 4);
}
.product-list-subtitle {
    font-weight: 600;
    font-size: 22px;
    color: #22343d;
}
.product-list-text {
    font-size: 16px;
    line-height: 1.625;
    color: #22343d;
}

.product-btn-box {
    padding-bottom: 50px;
}

.btn.product-btn {
    margin: 0 auto;
    min-width: 175px;
    padding-top: 15px;
    padding-bottom: 15px;
    height: auto;
    border: 1px solid;
    border-color: inherit;
}

.btn.product-btn:hover,
.btn.product-btn:focus {
    color: #02897a;
    background-color: #fff;
    border: 1px solid #02897a;
}

/* MANAGEMENT */

.management {
    margin-bottom: 90px;
}

.management-container {
    display: flex;
    gap: 86px;
}

.management-box {
    margin-top: 42px;
}

.management-text.text-focus {
    font-weight: 600;
    font-size: 16px;
    color: #22343d;
    margin-bottom: 8x;
}

.management-title {
    font-weight: 700;
    font-size: 32px;
    color: #22343d;
    margin-bottom: 25px;
}

.management-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.625;
    color: #22343d;
    margin-bottom: 25px;
}
.management-list-subtitle {
    font-weight: 600;
    font-size: 16px;
    line-height: 1.625;
    color: #22343d;
    margin-bottom: 11px;
}
.management-list-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.625;
    color: #22343d;
}

.management-list-item:not(:last-child) {
    margin-bottom: 20px;
}

.management-text {
}
.management-image {
}

/* SUPPORT */

.support {
}

.support-container {
    display: flex;
    gap: 84px;
}
.support-image {
}

.support-box {
    margin-top: 41px;
    margin-bottom: 40px;
}

.support-text.text-focus {
    font-weight: 600;
    font-size: 16px;
    color: #22343d;
    margin-bottom: 8px;
}

.support-title {
    font-weight: 700;
    font-size: 32px;
    color: #22343d;
    margin-bottom: 25px;
}
.support-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.625;
    color: #22343d;
    margin-bottom: 30px;
}
.support-list {
}
.support-list-item:not(:last-child) {
    margin-bottom: 25px;
}
.support-list-text {
    font-size: 16px;
    line-height: 1.625;
    color: #22343d;
}

/* COLLABORATIVE */

.collaborative {
    margin-bottom: 150px;
}

.collaborative-container {
    display: flex;
    gap: 86px;
}

.collaborative-box {
    margin-top: 42px;
}

.collaborative-text.text-focus {
    font-weight: 600;
    font-size: 16px;
    color: #22343d;
    margin-bottom: 8x;
}

.collaborative-title {
    font-weight: 700;
    font-size: 32px;
    color: #22343d;
    margin-bottom: 25px;
}

.collaborative-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.625;
    color: #22343d;
    margin-bottom: 25px;
}
.collaborative-list-subtitle {
    font-weight: 600;
    font-size: 16px;
    line-height: 1.625;
    color: #22343d;
    margin-bottom: 11px;
}
.collaborative-list-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.625;
    color: #22343d;
}

.collaborative-list-item:not(:last-child) {
    margin-bottom: 20px;
}

/* PROCESS */

.process {
}
.process-title {
    font-weight: 700;
    font-size: 32px;
    text-align: center;
    color: #22343d;
    margin-bottom: 25px;
}
.process-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.625;
    text-align: center;
    color: #22343d;
    max-width: 542px;
    margin: 0 auto;
}

.process-list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    max-width: 916px;
    margin: 0 auto;
    justify-content: space-between;
}
.process-list-item {
    display: flex;
    gap: 20px;
    align-items: center;
    min-width: 408px;
}

.process-list-image {
}
.process-list-text {
    font-weight: 500;
    font-size: 16px;
    text-align: center;
    color: #2f281e;
    padding: 13px 20px;
    fill: #fff;
    box-shadow: 2px 2px 10px 0 rgba(23, 58, 86, 0.15);
    border-radius: 50px;
}

.process-list-item:nth-child(3),
.process-list-item:nth-child(4) {
    flex-direction: row-reverse;
}

.process-list-item:nth-child(1),
.process-list-item:nth-child(2) {
    margin-bottom: 25px;
}

.btn.process-btn {
    font-weight: 700;
    border-radius: 4px;
    min-width: 216px;
    height: 53px;
    display: block;
    margin: 50px auto 100px;
    border: 1px solid;
    border-color: inherit;
}

.btn.process-btn:hover,
.btn.process-btn:focus {
    color: #02897a;
    background-color: #fff;
    border: 1px solid #02897a;
}

/* strategies */

.strategies {
}
.strategies-title {
    font-weight: 700;
    font-size: 34px;
    color: #22343d;
    margin-bottom: 10px;
}
.strategies-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.625;
    color: #22343d;
    margin-bottom: 40px;
}

.strategies-list {
    display: flex;
    justify-content: space-between;
    margin-bottom: 170px;
}
.strategies-list-item {
    width: calc((100% - 30px * 2) / 3);
    border: 1px solid #dedede;
    border-radius: 8px;
    background-color: #fff;
}
.strategies-list-image {
    /* margin-bottom: 24px; */
}

.strategies-list-block {
    padding-top: 24px;
    padding-left: 24px;
    padding-bottom: 40px;
}
.strategies-list-text {
    font-size: 16px;
    line-height: 1.75;
    color: #22343d;
    margin-bottom: 12px;
}

.strategies-list-accent {
    font-weight: 700;
}

.strategies-list-subtitle {
    font-weight: 700;
    font-size: 24px;
    line-height: 1.66667;
    color: #22343d;
}

.strategies-list-subtitle:hover,
.strategies-list-subtitle:focus {
    color: #02897a;
}

/* PRICE */

.price {
}
.price-title {
    font-weight: 700;
    font-size: 34px;
    color: #22343d;
    text-align: center;
    margin-bottom: 10px;
}
.price-text {
    font-weight: 500;
    font-size: 16px;
    color: #22343d;
    text-align: center;
    margin-bottom: 40px;
}
.price-list {
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
    text-align: center;
}
.price-list-item {
    border-radius: 8px;
    width: 322px;
    height: 456px;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.25);
    background-color: #fff;
    widows: calc((100% - 72px * 2) / 3);
}

.price-list-item:hover {
    background-color: #02897a;
}

.price-list-item:hover .price-list-coin,
.price-list-item:hover .price-list-money {
    color: #fff;
}

.price-list-item:hover .btn.price-btn {
    background-color: #fff;
    color: #02897a;
    cursor: pointer;
}

.price-list-subtitle {
    font-weight: 700;
    font-size: 24px;
    line-height: 1.66667;
    color: #22343d;
    margin-top: 32px;
    margin-bottom: 8px;
}

.price-list-text {
    font-size: 16px;
    line-height: 2.5;
    color: #22343d;
    margin-bottom: 16px;
}

.price-list-box {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7px;
}

.price-money-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 40px;
}

.price-list-coin {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 76px;
    line-height: 1.31579;
    letter-spacing: 0em;
    text-align: center;
    color: #02897a;
}
.price-list-money {
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.25;
    letter-spacing: 0em;
    color: #02897a;
}
.price-list-period {
    font-size: 16px;
    line-height: 1.1875;
    letter-spacing: 0.01em;
    color: #afafaf;
}
.second-list {
    padding-bottom: 30px;
}
.second-list-item {
}
.second-list-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.375;
    letter-spacing: 0.01em;
    color: #22343d;
}
.second-list-text:not(:last-child) {
    margin-bottom: 16px;
}
.price-btn {
    min-width: 139px;
}

/* REVIEWS */

.reviews {
}
.reviews-title {
    font-weight: 700;
    font-size: 32px;
    line-height: 1.78125;
    letter-spacing: 0.01em;
    color: #22343d;
    text-align: center;
    margin-bottom: 10px;
}
.reviews-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.75;
    letter-spacing: 0.01em;
    text-align: center;
    max-width: 537px;
    color: #22343d;
    margin: 0 auto;
    margin-bottom: 40px;
}
.reviews-list {
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
}
.reviews-list-item {
    width: calc((100% - 64px) / 3);
    border: 1px solid #dedede;
    border-radius: 5px;
    padding: 30px 35px;
    width: 327px;
    height: 240px;
}
.reviews-list-text {
    font-size: 16px;
    line-height: 1.75;
    letter-spacing: 0.01em;
    color: #737373;
    margin-bottom: 16px;
}

.list-first-block {
    display: flex;
    gap: 14px;
}
.reviews-list-image {
}

.list-second-block {
}
.reviews-list-subtitle {
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.01em;
    color: #02897a;
}
.reviews-list-accent {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.71429;
    letter-spacing: 0.01em;
    color: #252b42;
}

/* PROMO */

.promo {
}

.promo-container {
    background-color: #02897a;
    border-radius: 32px;
    width: 968px;
    height: 345px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
}

.promo-title-block {
}
.promo-title {
    font-weight: 600;
    font-size: 32px;
    line-height: 1.514;
    color: #fff;
    margin: 49px 10px 46px 51px;
    max-width: 510px;
}

.btn.promo-btn {
    min-width: 150px;
    height: 50px;
    margin-left: 51px;
    border-radius: 8px;
    background: #fff;
    font-weight: 600;
    font-size: 20px;
    color: #02897a;
}

.btn.promo-btn:hover,
.btn.promo-btn:focus {
    color: #fff;
    background-color: #02897a;
    border: 1px solid #fff;
}

.promo-image {
    max-width: 351px;
}

/* FOOTER */

.footer {
}
.footer-list {
    display: flex;
    margin-bottom: 10px;
}
.social-list-item {
    display: flex;
    margin-right: 153px;
}

.social-list-logo {
    font-weight: 700;
    font-size: 30px;
    line-height: 0.93333;
    color: #173a56;
    display: flex;
    align-items: center;
    gap: 16px;
}
.social-list-image {
}

.footer-social-list {
}

.footer-social-item {
}

.footer-list-link {
}

.resource-list-item {
    margin-right: 153px;
}

.footer-list-item {
    margin-right: 79px;
    margin-bottom: 16px;
}
.footer-list-text {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.5;
    color: #22343d;
    margin-bottom: 8px;
}
.footer-list-link {
    font-size: 16px;
    line-height: 2.1875;
    color: #22343d;
}

.contact-list-item {
    display: flex;
    flex-direction: column;
}

.footer-info-text {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.5;
    color: #22343d;
    max-width: 280px;
    margin-bottom: 30px;
}

.footer-input {
    font-size: 16px;
    line-height: 1.75;
    color: #02897a;
    margin-bottom: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.footer-input::placeholder {
    color: #02897a;
}

.btn.footer-list-btn {
    font-weight: 700;
    max-width: 131px;
    height: 39px;
    border: 1px solid;
    border-color: inherit;
}

.btn.footer-list-btn:hover,
.btn.footer-list-btn:focus {
    color: #02897a;
    background-color: #fff;
    border: 1px solid #02897a;
}

.footer-copyright {
    font-size: 16px;
    line-height: 1.875;
    color: #22343d;
    text-align: center;
}

.footer-container {
    padding-bottom: 40px;
}
